html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', 'Times New Roman';
}

header {
    background: black;
    min-width: 100%;
    min-height: 100vh;
    margin: -15px;
    padding: -5px;
    margin-bottom: -25px;
    padding-bottom: -25px;
    position: relative;
    z-index: 1;
}

.s-w {
    width: 600px;
    height: 510px;
    margin-left: 393px;
    margin-top: 30px;
    justify-content: center;
}

.arrow_animate {
    width: "38.417px";
    height: "18.592px";
    position: relative;
    margin-left: 50%;
    padding-top: 0px;
}

.arrow_animate {
    animation: animate 2s infinite;
    animation-timing-function: linear;
    padding-bottom: 20px;
}

@keyframes animate {
    0% {
        margin-top: 15px;
    }
    50% {
        margin-top: 0px;
    }
    100% {
        margin-top: 15px;
    }
}

.sec1 {
    margin-left: 225px;
    padding-left: 0px;
    margin-top: 50px;
    font-size: 20px;
    margin-right: 225px;
}

.sec2,
.sec3,
.sec4,
.sec5,
.sec6 {
    font-size: 20px;
    margin-left: 225px;
    margin-right: 225px;
}

.img-fluid {
    width: 400px;
    /*   height: 500px;*/
    z-index: 0;
}

.owl-carousel {
    margin-left: 225px;
    margin-right: 225px;
    position: relative;
    z-index: 0;
}

.sidebar__section-title {
    text-align: center;
}

.sidebar__link {
    color: black;
    padding-top: 50%;
}

.sidebar__section {
    position: fixed;
    min-height: 100%;
    /* margin-top: 50px;*/
    padding-left: 0px;
    padding-right: 15px;
    margin-right: 2000px;
    border-radius: 10px;
    background-color: lightgray;
    padding-bottom: 100px;
    border-right: gray;
    left: 0;
    bottom: 0px;
    float: left;
    margin-left: 0px;
}

.sidebar_section_right {
    position: fixed;
    min-height: 100%;
    /* margin-top: 50px;*/
    padding-left: 0px;
    padding-right: 15px;
    margin-left: 1500px;
    border-radius: 10px;
    background-color: lightgray;
    padding-bottom: 100px;
    border-left: gray;
    right: 0;
    bottom: 0px;
    float: right;
    margin-right: 0px;
    z-index: 1;
}

.sidebar__navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding-top: 50%;
}

.sidebar__navigation-link {
    padding-bottom: 20px;
    color: black;
}